.project {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
}
.project:last-of-type {
    margin-bottom: 100px;
}
.project .dots {
    position: absolute;
    z-index: 0;
    max-width: 70%;
    min-height: 300px;
    object-fit: none;
}
.project:first-of-type .dots {
    left: -6.944vw;
    top: -233px;
}
.project:nth-of-type(odd):not(:first-of-type) .dots {
    right: calc(-6.944vw + 35px);
    top: -29px;
}
.project:nth-of-type(even) .dots {
    top: -88px;
    left: 25%;
}
.project-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: -50px;
    position: relative;
    z-index: 1;
}
.image-container {
    background: #fff;
    padding: 66px;
    box-shadow: 0px 12px 30px rgba(50, 224, 196, 0.05);
    border-radius: 3px;
    width: 39.24vw;
    height: 39.24vw;
}
.image-container img {
    object-fit: cover;
    object-position: left center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.project:nth-of-type(odd) .project-content {
    flex-direction: row;
}
.project:nth-of-type(even) .project-content {
    flex-direction: row-reverse;
}
.project-details {
    width: 36vw;
}
.project-details h1 {
    margin-bottom: 10px;
}
.project-details p {
    font-family: "GorditaRegular";
    font-size: 16px;
    line-height: 2.25;
    color: var(--secondary-color);
}
.project-details .stacks {
    display: flex;
    margin-top: 30px;
    margin-bottom: 16px;
}
.project-details .stack {
    font-family: "GorditaRegular";
    width: 98px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--primary-rgb-color), 0.1);
    color: var(--primary-color);
    border-radius: 5px;
    margin-right: 20px;
    letter-spacing: 0.2em;
    font-size: 12px;
}
.project-details a {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 34px;
}
@media (max-width: 1350px) {
    .image-container {
        padding: 50px;
    }
}
@media (max-width: 1199.98px) {
    .project {
        margin-bottom: 150px;
    }
    .image-container {
        padding: 40px;
        width: 34.24vw;
        height: 34.24vw;
    }
    .project-details {
        width: 40vw;
    }
}
@media (max-width: 991.98px) {
    .project {
        margin-bottom: 120px;
    }
    .project-content {
        margin-right: -70px;
    }
    .image-container {
        padding: 30px;
    }
}

@media (max-width: 767.98px) {
    .project-content {
        flex-direction: column !important;
    }
    .image-container {
        padding: 35px;
        width: 100%;
        height: unset;
        max-height: 450px;
        max-width: 450px;
        margin-bottom: 30px;
    }
    .project-details {
        width: 100%;
    }
}

@media (max-width: 424.98px) {
    .project-details p {
        font-size: 14px;
    }
}