* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "GorditaBlack";
  src: url('./assets/fonts/Gordita Black.otf')
}
@font-face {
  font-family: "GorditaBold";
  src: url('./assets/fonts/Gordita Bold.otf')
}

@font-face {
  font-family: "GorditaLight";
  src: url("./assets/fonts/Gordita Light.otf")
}

@font-face {
  font-family: "GorditaMedium";
  src: url("./assets/fonts/Gordita Medium.otf")
}

@font-face {
  font-family: "GorditaRegular";
  src: url("./assets/fonts/Gordita Regular.otf")
}

@font-face {
  font-family: "GorditaThin";
  src: url("./assets/fonts/Gordita Thin.otf")
}

button {
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;  
}

:root .light-theme{
  --primary-color: #32E0C4;
  --primary-rgb-color: 50, 224, 196;
  --primary-color-light: #ECFFFD;
  --secondary-color: #393E46;
  --black: #000;
  --white: #fff;
}

:root .dark-theme {
  --primary-color: #32E0C4;
  --primary-color-light: #000;
  --secondary-color: #fff;
  --black: #fff;
  --white: #000;
}

h1 {
  font-family: "GorditaBold";
  font-size: 42px;
  line-height: 1.71;
  color: var(--secondary-color);
}
@media (max-width: 1199.98px) {
  h1 {
    font-size: 33px;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 24px;
  }
}